        <div class="pages navbar-fixed">
          <div data-page="index" class="page">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="center">Walking Stories</div>
                <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
              </div>
            </div>
            <div class="page-content">
              <a href="index.html" class="back back-button" title="Go back to home page"><img src="/dist/img/left.svg"></a>
              <div id="map"></div>
              <a href="#" class="location-button js-goToLocation" title="Go back to home page"><img src="/dist/img/icon-center-position.svg"></a>
            </div>
          </div>
        </div>
